# Application
LOG_LEVEL=INFO
MODEL_PATH=models/inference_pipeline_debug.pkl
FEATURES_PATH=models/features_prod.json

# Elasticsearch
ELASTICSEARCH_URL=http://localhost:9200

# Prometheus
METRICS_PORT=9090

# API
API_HOST=0.0.0.0
API_PORT=8000
